<element-address>
  <span>
    <span if={ get('data.value.formatted') }>{ get('data.value.formatted') }</span>
    <i if={ !get('data.value.formatted') }>N/A</i>
  </span>

  <script>
    // import base
    import Base from '../js/base';

    // export default
    export default class ElementAddress extends Base {}
  </script>
</element-address>
