<element-money>
  <span>
    <!-- @todo money math -->
    <span if={ get('data.value') }>${ get('data.value').toFixed(2) }</span>
    <i if={ !get('data.value') }>N/A</i>
  </span>

  <script>
    // import base
    import Base from '../js/base';

    // export default
    export default class ElementMoney extends Base {}
  </script>
</element-money>
